package-lock.json
playStation-interface/.editorconfig
playStation-interface/.gitignore
playStation-interface/angular.json
playStation-interface/package-lock.json
playStation-interface/package.json
playStation-interface/src/assets/.gitkeep
playStation-interface/tsconfig.app.json
playStation-interface/tsconfig.json
playStation-interface/.vscode/extensions.json
playStation-interface/.vscode/launch.json
playStation-interface/.vscode/tasks.json
playStation-interface/src/favicon.ico
playStation-interface/.vscode/extensions.json
playStation-interface/.vscode/launch.json
playStation-interface/.vscode/tasks.json
playStation-interface/.vscode/extensions.json
playStation-interface/.vscode/launch.json
playStation-interface/.vscode/tasks.json
