<div class="home__container">
  <app-card
    gameOver="assets/bt-1.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4"
    gamePricing="R$ 399,99"
  >
  </app-card>
  <app-card
    gameOver="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gameType="Digital | PS5"
    gamePricing="R$ 199,99"
  >
  </app-card>

  <app-card
    gameOver="assets/bt-hardline.jpg"
    gameLabel="Exclusive"
    gameType="Digital | PS5"
    gamePricing="R$ 299,99"
  >
  </app-card>

  <app-card
    gameOver="assets/bt-bad-company-2.jpg"
    gameLabel="Exclusive"
    gameType="Digital | PS5"
    gamePricing="R$ 299,99"
  >
  </app-card>
</div>
